{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2>Call for Papers Talk Ideas</h2>
    <p>
        {{ site.title }} is not limited to just PHP-related talks. There have been
        sessions covering a wide range of topics supporting PHP developers and DevOps
        as well, and we encourage you to "think outside the box" to come up with your
        own unique topics.
    </p>
    <p>
        Due to financial constraints most conferences tend to pick speakers to present
        multiple talks. Therefore <strong>it is advisable to submit a few talk ideas, not just one.</strong>
        By submitting a single talk you may lessen your chances of being selected.
    </p>
    <p>
        To get the ideas flowing, here's a few suggestions:
    </p>
    <ul>
     <li>PHP internals</li>
     <li>Version control</li>
     <li>Framework-related topics</li>
     <li>Building APIs (REST, SOAP, whatever)</li>
     <li>Mobile-first design</li>
     <li>Professional development</li>
     <li>Testing (unit, functional, etc.)</li>
     <li>Alternate PHP run-times</li>
     <li>Development principles</li>
     <li>Continuous Integration</li>
     <li>Getting involved in the PHP community</li>
     <li>User Experience/Usability</li>
     <li>Technology at large</li>
     <li>Security</li>
     <li>Connecting to Different APIs</li>
     <li>Development Tools</li>
     <li>Virtualization and environments</li>
     <li>Javascript</li>
     <li>Modern hosting practices</li>
     <li>Language Features</li>
     <li>Databases</li>
     <li>Refactoring legacy applications</li>
     <li>Running/contributing to open source projects</li>
     <li>AI and AR</li>
     <li>User Groups</li>
    </ul>
</div>
{% endblock %}

